.formLabel {
    display: flex;
}
.hoverIcon:hover {
    color: silver;

}
.formsButton {
  
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
/* .contentHomepage{min-height: 50vh;} */




.spinnerSpan{display: flex;align-items: center;justify-content: center;gap: 5px;}